<section class="about-us" id="about">
  <div class="container">
    <h2 class="section-title">About ArtistsHub</h2>
    <p class="section-description">
      At ArtistsHub, our mission is to connect music lovers with the artists they adore.
      We strive to create a vibrant community where discovering new music is as enjoyable as listening to it.
    </p>
    <div class="about-content">
      <img src="src/public/img/team.png" alt="ArtistsHub Team" class="team-image" />
      <svg class="logo-image" width="80" height="80"> 
       <use href="./src/public/img/icons.svg#icon-logo" alt="ArtistsHub Logo"> </use>
    </div>
  </div>
</section>
