<section class="about-us" id="about">
  <div class="container">
    <h2 class="section-title">About ArtistsHub</h2>
    <p class="section-description">
      At ArtistsHub, our mission is to connect music lovers with the artists
      they adore. We strive to create a vibrant community where discovering new
      music is as enjoyable as listening to it.
    </p>
    <div class="about-content">
      <img src="img/team.jpg" alt="ArtistsHub Team" class="team-image" />
      <img src="img/logo.png" alt="ArtistsHub Logo" class="logo-image" />
    </div>
  </div>
</section>
