<section class="feedback">
  <div class="container">
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">Slide 1</li>
        <li class="swiper-slide">Slide 2</li>
        <li class="swiper-slide">Slide 3</li>
      </ul>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev">
        <svg class="arrow" width="" height="">
          <use
            href="../img_feedback/Rigth-left-arrows.svg#icon-left-arrow"
          ></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="arrow" width="" height="">
          <use
            href="../img_feedback/Rigth-left-arrows.svg#icon-right-arrow"
          ></use>
        </svg>
      </div>
    </div>
  </div>
</section>
