<section class="modal-feedback-section">
  <div class="container modal-feedback-wrapper">
    <button class="modal-feedback-close" type="button">X</button>
    <form action="" class="modal-feedback-form">
      <h2 class="modal-feedback-heading">Submit feedback</h2>
      <div class="modal-input-wrapper name-input-wrapper">
        <label class="modal-feedback-label" for="modal-feedback-name"
          >Name</label
        >
        <input
          class="modal-feedback-input name-input"
          id="modal-feedback-name"
          name="modaFeedbackName"
          type="text"
          placeholder="Emily"
        />
      </div>
      <div class="modal-input-wrapper message-input-wrapper">
        <label class="modal-feedback-label" for="modal-feedback-message"
          >Message</label
        >
        <textarea
          class="modal-feedback-input message-input"
          id="modal-feedback-message"
          name="modaFeedbackMessage"
          type="text"
          placeholder="Type your message..."
          rows="4"
        ></textarea>
      </div>
      <div class="stars-wrapper">
        <span id="star-1">*</span>
        <span id="star-2">*</span>
        <span id="star-3">*</span>
        <span id="star-4">*</span>
        <span id="star-5">*</span>
      </div>
      <button class="modal-feedback-submit" type="submit">Submit</button>
    </form>
  </div>
</section>
