<section class="feedback-section" id="reviews">
  <div class="container feedback-container">
    <div class="swiper feedback-swiper">
      <ul class="swiper-wrapper" id="feedback-container"></ul>
      <div class="swiper-pagination custom-pagination"></div>
      <div class="swiper-button-prev">
        <svg class="arrow" width="14" height="14">
          <use href="/img/feedback-arrows.svg#icon-left-arrow"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="arrow" width="14" height="14">
          <use
            href="/img/feedback-arrows.svg#icon-right-arrow"
          ></use>
        </svg>
      </div>
    </div>
  </div>
  <button class="btn" type="submit" id="open-feedback">
    <p class="btn-txt">Leave feedback</p>
  </button>
</section>
