
<div id="modal" class="modal-container active"> <!-- active тут, когда модалка открыта -->
    <div class="modal-window">
        <div class="header-wrapper">
    <div class="logo"><a href="index.html">

        <svg id="logo" width="119" height="51" >
            <use href="/img/mob-menu.svg#icon-logo"></use>
        </svg>
       

        </a>
    </div>

    <button class="close-btn" id ="modal-close">
        <svg id="logo" width="24" height="24">
            <use href="/img/mob-menu.svg#icon-x"></use>
        </svg>
        
        </button>
        </div>

        
            <ul class="content">
                
                <li class="con-p"><a href="#artists">Artists</a></li>
               <li class="con-p"><a href="#about">About Us</a></li>
                <li class="con-p"><a href="#reviews">Reviews</a> </li>
                
            </ul>
            
      
    </div>
    </div>
