<!-- Кнопка для відкриття модалки -->
<button
  class="open-artist-modal btn-click"
  data-artist-id="65ada54daf9f6d155db47e29"
>
  Відкрити U2
</button>

<!-- Window of modal -->
<div
  class="modal modal--hidden"
  id="artistModal"
  role="dialog"
  aria-modal="true"
  aria-labelledby="artistModalTitle"
>
  <div class="modal__overlay"></div>

  <div class="modal__content" role="document">
    <button
      type="button"
      class="modal__close-button"
      aria-label="Закрити вікно"
    ></button>

    <section class="artist-card">
      <div class="artist-card__header">
        <h2 id="artistModalTitle" class="artist-card__name">Unlike Pluto</h2>
        <img
          src=""
          alt=""
          class="artist-card__photo"
          width="280"
          height="280"
        />
      </div>

      <ul class="artist-card__info-list">
        <li class="artist-card__info-years-active">
          <h4 class="artist-card__label">Years active:</h4>
          <p class="artist-card__value years-active"></p>
        </li>
        <li class="artist-card__info-sex">
          <h4 class="artist-card__label">Sex:</h4>
          <span class="artist-card__value sex"></span>
        </li>
        <li class="artist-card__info-members">
          <h4 class="artist-card__label">Members:</h4>
          <span class="artist-card__value members"></span>
        </li>
        <li class="artist-card__info-country">
          <h4 class="artist-card__label">Country:</h4>
          <span class="artist-card__value country"></span>
        </li>
        <li class="artist-card__info-description">
          <h3 class="artist-card__description-title">Description:</h3>
          <p class="artist-card__description description"></p>
        </li>
        <li class="artist-card__info-genres">
          <h4 class="artist-card__label-genres visually-hidden"></h4>
          <div class="artist-card__genres-list genres-list"></div>
        </li>
      </ul>
    </section>
  </div>
</div>
