html,
body {
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  color: #fbfbfb;
  background-color: #060307;
}


a, button, [role="button"], input[type="submit"], input[type="button"] {
  cursor: pointer;
}

a:hover, button:hover, [role="button"]:hover {
  transition: all 0.3s ease;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
