.footer {
  background-color: #060307;
  color: #fff;
  padding: 40px 20px 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #a472ec;
  font-weight: bold;
  font-size: 20px;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  gap: 30px;
  justify-content: center;
}

.footer-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-icons img {
  width: 24px;
  height: 24px;
  filter: invert(100%);
}

.footer-bottom {
  border-top: 1px solid #2e2c2e;
  padding-top: 32px;
  font-size: 14px;
  color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
}

/* Mobile */
@media (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .footer-nav ul {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 48px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 64px;
  }

  .social-icons {
    order: -1;
    padding-bottom: 32px;
  }

  .footer-bottom p {
    order: 0;
  }
  .logo {
    margin-bottom: 32px;
  }

  .social-icons a[href*='facebook'] svg {
    width: 33px;
    height: 33px;
  }
  .social-icons a[href*='instagram'] svg {
    width: 30px;
    height: 30px;
  }
  .social-icons a[href*='youtube'] svg {
    width: 33px;
    height: 23px;
  }
}

/* Tablet and Desktop */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
  }

  /* Для десктопної версії: */
  .footer-nav {
    order: 1;
    flex: none;
    margin-top: 30px;
  }

  .footer-nav ul {
    flex-direction: row;
    gap: 30px;
    justify-content: center;
  }

  .logo {
    order: 0;
    margin-bottom: 0;
  }

  .social-icons {
    order: 2;
    margin-top: 20px;
  }

  .social-icons a[href*='facebook'] svg {
    width: 26px;
    height: 26px;
  }
  .social-icons a[href*='instagram'] svg {
    width: 24px;
    height: 24px;
  }
  .social-icons a[href*='youtube'] svg {
    width: 26px;
    height: 18px;
  }
}

/* Full screen */
@media (min-width: 1440px) {
  .footer-container {
    max-width: 1400px;
  }
}
