/* MOBILE */
.hero-section {
  background: linear-gradient(180deg, #060307 0%, #23132b 100%);
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-img {
  height: 385px;
  margin: 0 auto;
  background-image: url(../img/hero/mob-hero-min.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (min-resolution: 192dpi), (min-resolution: 2x) {
  .hero-img {
    background-image: url(../img/hero/mob-hero@2x-min.png);
  }
}

.hero-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #fff;

  margin-top: 64px;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;

  margin-bottom: 24px;
}

.hero-btn {
  border-radius: 12px;
  padding: 10px 24px;
  width: 280px;
  height: 47px;
  padding: 10px auto;

  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #764191;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;

  margin-bottom: 64px;

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero-btn:hover,
.hero-btn:focus {
  background: rgba(255, 255, 255, 0.1);
  opacity: 0.8;
  transform: scale(1.05);
}

.icon-play-btn {
  fill: #fff;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-img {
    width: 704px;
    height: 632px;

    background-image: url(../img/hero/tab-hero-min.png);
  }
  @media (min-resolution: 192dpi), (min-resolution: 2x) {
    .hero-img {
      background-image: url(../img/hero/tab-hero@2x-min.png);
    }
  }

  .hero-title {
    width: 648px;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .hero-subtitle {
    font-size: 20px;
    margin-bottom: 32px;
  }

  .hero-btn {
    width: 246px;
    margin-bottom: 32px;
  }
}

/* DESK */
@media screen and (min-width: 1440px) {
  .hero-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .hero-container {
    padding: 216px 32px 216px 64px;
  }

  .hero-img {
    min-width: 641px;
    min-height: 900px;
    margin-right: 64px;
    background-image: url(../img/hero/desk-hero-min.png);
  }
  @media (min-resolution: 192dpi), (min-resolution: 2x) {
    .hero-img {
      background-image: url(../img/hero/desk-hero@2x-min.png);
    }
  }
  .hero-title {
    margin-top: 0;
    font-size: 84px;
    min-width: 640px;
  }

  .hero-subtitle {
    min-width: 640px;
    max-width: 864px;
  }

  .hero-btn {
    width: 206px;
    margin-bottom: 0;
    padding: 10px 0;
  }
}
